
@use "sass:color";
@import "@fortawesome/fontawesome-free/css/all.css";

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-serif: "Verdana","Georgia", "Times New Roman", serif;

$cv-text: #000000;
$cv-title:#4878D9;
$cv-masterbrand:#25C7D9; 
$cv-bg: color.scale($cv-masterbrand, $lightness: 90%);